<section class="app-header-container flex space-between align-center">
    <div class="logo">
        <a routerLink = "home"      routerLinkActive="active" >
            <h1>Mr<span class="logo-dot">.</span>BITCoin</h1>
        </a>
    </div>
    <div class="navbar flex align-center">
        <a routerLink = "home"      routerLinkActive="active" class="nav-btn" >Home       </a>
        <a routerLink = "contact"   routerLinkActive="active" class="nav-btn" >Contacts   </a>
        <a routerLink = "statistic" routerLinkActive="active" class="nav-btn" >Statistics </a>
    </div>
</section>
 