.contact-page-container {
    padding: 15px;
    h2 {
        text-align: center;
        margin-bottom: 15px;
    }
    a.add-contact-btn {
        padding: 2px 7px;
        height: 26px;
    }
}

@media (max-width: 500px) {
    .contact-page-container {

        .filter-cmp {
            width: 100%;
        }
    }
}