<google-chart
  class="market-price"
  [type]="marketChartType"
  [data]="marketChartData"
  [title]="marketChartName"
  [options]="chartOption"
  [dynamicResize]="true"
  ></google-chart>
<div class="small-charts flex">

<google-chart
    class="trade-volume"
    [type]="tradeChartType"
    [data]="tradeChartData"
    [title]="tradeChartName"
    [options]="chartOption"
    [dynamicResize]="true"
    ></google-chart>
    
    <google-chart
    class="confirm-transaction"
    [type]= "transactionChartType"
    [data]= "transactionChartData"
    [title]="transactionChartName"
    [options]="chartOption"
    [dynamicResize]="true"
    ></google-chart>
    
</div>