<section class="home-page-container">
    <h2>Hello {{user.name}}!</h2>
    <div class="coins flex align-center">
        <img src="../../../assets/img/coins.png" alt="">
        <h3>Coins: {{user.coins}}</h3>
    </div>
    <div class="bitRate flex align-center">
        <img src="../../../assets/img/bitcoin_icon.png" alt="">
        <h3>BTC: {{rate}}</h3>
    </div>
    <div class="balance flex align-center">
        <img src="../../../assets/img/usd.png" alt="">
        <h3>Balance: {{USD | currency: 'USD'}}</h3>
    </div>
</section>