<section class="home-page-container flex">
    <section class="user-info-container">
        <section class="user-info">
            <div class="user flex align-center">
                <div class="user-img ratio-square">
                    <img src="https://robohash.org/{{user._id}}" alt="Profile picture">
                </div>
                <h2>Hello {{user.name}}!</h2>
            </div>
            <div class="coins flex align-center">
                <img class="icon" src="./assets/img/coins.png" alt="">
                <h3>Coins: {{user.coins}}</h3>
            </div>
            <div class="bitRate flex align-center">
                <img class="icon" src="./assets/img/bitcoin_icon.png" alt="">
                <h3>BTC: {{rate}}</h3>
            </div>
            <div class="balance flex align-center">
                <img class="icon" src="./assets/img/usd.png" alt="">
                <h3>Balance: {{USD | currency: 'USD'}}</h3>
            </div>
        </section>
        <app-chart [user]="user"></app-chart>

    </section>
    <section class="user-moves">
        <h2 *ngIf="movesToShow && movesToShow.length; else noMoves">Your last {{movesToShow.length}} moves</h2>
            <ng-template #noMoves>
                <h2>You made no moves yet</h2>
            </ng-template>
        <move-list [moves]="movesToShow" [general]="general"></move-list>
    </section>
</section>