.signup-container {
    width: 400px;
    margin: auto;
    padding-top: 100px;
    .form-row{
        width: 100%;
        margin-bottom: 5px;
        label {
            margin-bottom: 45px;
            font-size: 1.5em;
        }
        input {
            padding-left: 8px;
            width: 100%;
            height: 45px;
            color: white;
            background-color: inherit;
            line-height: 1.5;
            font-size: 1.4em;
            border: none;
            border-bottom: 1px solid #8089A4;
            &:focus {
                outline: none;
            }
        }
    }
    
    button.save-btn.btn {
        font-size: 1.4em;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
    }
    .validation-error {
        color: rgb(255, 53, 53);
        opacity: 0;
        font-size: 1.2em;
    }
    
    .validation-error.shown {
        opacity: 1;
    }
}