
.btn{
    background-color: $btn;
    color: $nutral;
    font-size: 1.25rem;
    text-align: center;
    min-width: 65px;
    padding: 8px;
    margin: 5px;
    border-radius: 3px;
    
    &:hover{
        background-color: lighten($btn,5%);
        cursor: pointer;
    }
    &:active{
        box-shadow:inset 0 0 8px darken($btn,5%);
    }
}

.nav-btn {
    box-shadow:0 ;
    transition: all .8s;
    &:hover {
        background-color: rgba(lightskyblue,0.1);
        box-shadow: inset 0 -3px 0 lightskyblue;
        cursor: pointer;
    }

}
