    

// COLOR PALETTE


// $text: #465351;
// $btn: #7b8b8b;
$text: #8089A4;
$preview: #292942;
$nutral: #ffffff;
$pop: #E88C30;

//BREAKING POINTS
$break-narrow: 460px;
$break-normal: 740px;
$break-wide: 960px;