.contact-details-container {
    background-color: rgb(41, 41, 66);
    box-shadow: -2px 2px 4px 0px #282835;
    width: 100%;
    padding: 30px;
    font-size: 1.25em;
    margin: auto;
    margin-top: 30px;
    .contact-img {
        width: 180px;
        border-radius: 50%;
        background-color: white;
        align-self: center;
    }
    .delete-btn {
        text-decoration: underline;

        &:hover {
            cursor: pointer;
        }
    }
}